---
layout: default
---

<div class="home">
    <ul class="post-list">
        {% for post in paginator.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
      
            {{ post.excerpt }}
          </li>
        {% endfor %}
      
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
          {% endif %}
      
          <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
          {% endif %}
        </div>
      </ul>
</div>